@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Tilt+Warp&display=swap');
.heading {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Tilt Warp', cursive;
    font-size: 60px;
    text-shadow: 10px 10px 30px #e58f16, -10px -10px 30px #f5e130;
    -webkit-text-stroke: 2px hwb(35 50% 2%);
    -webkit-text-fill-color: transparent;
    letter-spacing: 3px;
}

body {
    background-color: #333;
}

.container {
    width: 100%;
}

.container ul {
    text-align: center;
    list-style: circle;
}

.container li {
    display: block;
}

.name {
    font-family: 'Tilt Warp', cursive;
    font-size: 27px;
    color: hwb(35 31% 7%);
}